
div.container {
    padding:20px;
    /*display: flex;*/
    justify-content: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid gray;
}

th, td {
    padding: 5px;
}

span {
    padding: 5px;
}

h1 {
    width: 100%;
    text-align: center;
}

div.outer {
    width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

div.inner {
    /*display: inline-block;*/
    width:50%;
}

#sidebar {
    float: left;
}
